---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}
  <span class="post-date">{{ page.date | date_to_string }}</span></h1>
  {{ content }}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h1>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <span class="post-date">{{ post.date | date_to_string }}</span>
          </a>
        </h1>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
